<% include ./partials/header %>

  <section class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 main-corgi">
      <h2>Do you like <%= dog %></h2>
      <img id="dogPic" src="<%= pic %>" alt="<% dog %>" class="corgi-banner img-responsive">
      <a href="."><button id="paw-left">Paw Left</button></a>
      <button id="paw-right">Paw Right</button>
    </div>
  </section>

  <section>
     <h3>Dogs You've Liked</h3>
      <h6><%= title %></h6>
      <img id="likedPic" src="http://ak-hdl.buzzfed.com/static/2014-07/31/10/enhanced/webdr04/enhanced-2822-1406816758-3.jpg" class="corgi-profile">

  </section>

<% include ./partials/footer %>